<dialog class="subscribe-popup notification dialog">
  <form class="subscribe-popup__close-form" method="dialog">
    <button class="subscribe-popup__close-button">
      <span aria-hidden="true">×</span>
      <span class="visually-hidden">Close window</span>
    </button>
  </form>
  <div class="subscribe-popup__container">
    <p class="subscribe-popup__text">In the newsletter you will receive updates from the wiki</p>
    <form class="subscribe-popup__email-form">
      <label class="subscribe-popup__label">
        <input class="subscribe-popup__input" type="email" name="email" placeholder="dog@doka.guide" inputmode="email" required>
        <span class="subscribe-popup__hint">Enter your email</span>
      </label>
      <button class="subscribe-popup__submit-button notification__button button">OK</button>
    </form>
  </div>
  <div aria-live="polite">
    <p class="subscribe-popup__success-text">
      <span class="subscribe-popup__emoji">✅</span>
      Subscription to the address <span class="subscribe-popup__email"></span> is confirmed! Please check your inbox: we have sent a link to the page where you can configure the newsletter or unsubscribe.
    </p>
    <p class="subscribe-popup__error-text">
      <span class="subscribe-popup__emoji">❌</span>
      Something went wrong! Subscription to the address <span class="subscribe-popup__email"></span> is not confirmed. Please try again.
    </p>
  </div>
</dialog>
