node_modules
dist

.idea
.vscode
*.code-workspace
*.sublime-workspace
*.sublime-project

# Content repository data
a11y
html
css
js
tools
recipes
people
about
pages
settings
specials
interviews

.eslintcache

# cache for @11ty/eleventy-cache-assets
.cache
.issues.json

# binary that editorconfig-checker downloads when running
bin

.env
