{% from "blocks/header.njk" import header with context %}
{% from "blocks/footer.njk" import footer with context %}

{{ header(isLogoImageHidden=true) }}

<main id="main-content">
  <div class="not-found font-theme font-theme--code">
    <div class="not-found__logo logo">
      <div class="logo__image" aria-hidden="true">
        <div class="logo__symbols">
          Arch::Viz
        </div>
      </div>
    </div>
    <p class="not-found__description">
      Nothing found <br>
      <a href="/">Go back home</a>
    </p>
  </div>

  <div class="container">
    {% include "articles-gallery.njk" %}
  </div>
</main>

{{ footer() }}
