{% macro footer(class, tag = 'footer') %}
  <footer class="footer {{ class if class }}">
    <fieldset class="footer__theme-toggle">
      <legend class="visually-hidden">Theme</legend>
      <span class="footer__theme-toggle-label" aria-hidden="true">Theme:</span>
      {% include "blocks/theme-toggle.njk" %}
    </fieldset>
    <div class="footer__lists">
      <ul class="footer__list footer-list font-theme font-theme--code base-list">
        <li class="footer-list__item">
          <a class="github-button" href="https://github.com/doka-guide/content" data-color-scheme="no-preference: light; light: light; dark: dark;" data-size="large" data-show-count="true" aria-label="Star doka-guide/content on GitHub">Star</a>
        </li>
      </ul>
    </div>
  </footer>
{% endmacro %}
